.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}

.detailGroup {
  display: flex;
  justify-content: space-between;
}

.container hr {
  border: 0;
  width: 98%;
  background-color: gainsboro;
  height: 1px;
}

.detailGroup > div:first-child {
  font-weight: bold;
}
